<a href="https://colab.research.google.com/github/Glikhitha875/jntua-python/blob/master/day9(30_01_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#MarkDown
##MarkDown
###markdown

**Points**

*Points*

***Points***

In [1]:
print("hello world")

hello world

***Adding links to markdown***

[site](https://www.jntua.ac.in/)

***Inserting image***

![text](https://www.jntua.ac.in/icon/jntua.jpg)

In [3]:
print("hello world!")
print(2*8)

hello world!
16

In [6]:
print("hello , jntua")
print("hello,jntua","|||","chemical","|||","cse","|||","mca")

hello , jntua
hello,jntua ||| chemical ||| cse ||| mca

***Assignment***

In [12]:
n1=100 #single variable assignment
print(n1)
a=b=c=10 #multi variable assignment
print(a,b,c)
a1,b1,c1=100,200,300 #multiple variable assignment with different values
print(a1,b1,c1)

100
10 10 10
100 200 300

#Data types and converions


*   int
*   float
*   string

In [13]:
a1=100
s1=10.2
s2="python"
print(type(a1))
print(type(s1))
print(type(s2))

<class 'int'>
<class 'float'>
<class 'str'>

In [15]:
i=100
print(type(i))
s1=str(i)
print(s1)
print(type(s1))
s2=float(i)
print(s2)
print(type(s2))

<class 'int'>
100
<class 'str'>
100.0
<class 'float'>

In [17]:
#length
a=123456
s1=str(a)
print(s1)
print(len(s1))

123456
6

#Reading input from user using input function

In [20]:
a=input("enter ur  name :")
print(a)
print(type(a))

enter ur  name :likhitha
likhitha
<class 'str'>

In [24]:
b=eval(input("enter ur age :"))
print(b)
print(type(b))

enter ur age :19
19
<class 'int'>

#Operators
 --> operator is a symbol used to perform a specific kind of operations

#Arithmetic operators


*   + 
*   -
*   *
*   /
*   %
*   //

In [28]:
a=143
print(a+10)
print(a-10)
print(a*10)
print((a/10))
print(a%10)
print(a//10)
b=eval(input("enter b :"))
print(b**2)

153
133
1430
14.3
3
14
enter b :4
16

#Relational operators
-  <
-  <=
-  '>'
-  '>='
-  =
-  ==
-  !=

In [30]:
x1=10
s1=x1>9
print(s1)

True

#Logical operators
-  and
-  or
-  not

In [39]:
i=100
a1=i>500 and i<800
a2=i>20 or i<200
print(a1 , a2 )
print(a1 and a2)
print(a1 or a2)

False True False
False
True

#control flow statements 
-  conditional statements
-  looping statements

#if else statements
-  syntax 
    -  if(boolean_condition):
    -  statements
    -  else:
    -  statements

In [41]:
#to check whether a given number is even or odd
n=int(input("enter n : "))
if(n%2==0):
  print(n," is a even number")
else:
  print(n," is a odd number")

enter n : 50
50  is a even number

In [50]:
#to check given number is perfectly multiples of 3 and 5
n=int(input("enter a number :"))
if (n%3==0 and n%5==0):
  print(n ," is a multiple of 3 and 5 ")
else:
  print(n ," is not a multiple of 3 and 5 ")

enter a number :36
36  is not a multiple of 3 and 5

In [54]:
#Check that given number is positive ,negative or zero
n=int(input("enter number :"))
if(n>0):
  print(n," is positive")
elif(n<0):
  print(n,"is negative")
else:
  print(n,"is zero")

enter number :0
0 is zero

In [59]:
#largest number of given three numbers
a=int(input("enter a :"))
b=int(input("enter b :"))
c=int(input("enter c :"))
if(a>=b and a>=c):
  print(a ," is largest number")
elif(b>=c):
  print(b,"is largest number")
else:
  print(c,"is largest number")

enter a :3
enter b :5
enter c :7
7 is largest number

In [69]:
#find leap year
n=int(input("enter year : "))
if(n%4==0 and (n%100!=0 or n%400==0)):
  print(n,"is a leap year")
else:
  print(n," is not a leap year")

enter year : 2020
2020 is a leap year